body {
  background-color: #f0f8ff;
}

/* .nada {
  color: rgb(139, 138, 231);
  color: #5654df;
  color: rgb(59, 57, 172);

  color: #39fae0;
  color: #13d7bc;
  color: #01a790;

  color: #f0f8ff;
} */
