/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* .nada {
  color: rgb(139, 138, 231);
  color: #5654df;
  color: rgb(59, 57, 172);

  color: #39fae0;
  color: #13d7bc;
  color: #01a790;

  color: #f0f8ff;
} */
