body {
  background-color: #000000;
}

.nada {
  color: rgb(139, 138, 231);
  color: #5654df;
  color: #3b39ac;

  color: #39fae0;
  color: #13d7bc;
  color: #01a790;

  color: #202020;
  color: #7574c03b;
}
